<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>


    <link rel="stylesheet" type="text/css" href="/css/Homestyle.css">

</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container navCont">
      <a class="navbar-brand" href="/">Car Rental Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Our Rentals</a>
            <div class="dropdown-menu ddm">
                <a href="/categories/luxury" class="dropdown-item">Luxury</a>
                <a href="/categories/economy" class="dropdown-item">Economy</a>
                <a class="dropdown-item" href="/categories/suv">SUVs</a>
                <a class="dropdown-item" href="/categories/minibus">Mini Buses</a>
                <a class="dropdown-item" href="/categories/convertible">Convertible</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/booking">Book Now</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#abouttext">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactinfo">Contact</a>
          </li>
          {{#if notloggedin}}
          <li class="nav-item">
            <a class="nav-link" href="/signin">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          {{/if}}
          {{#if loggedin}}
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
            </li>
            {{!-- <li class="nav-item hiname">
              <a href="#" class="nav-link" >Welcome {{name}}!</a>
            </li> --}}
          {{/if}}
        </ul>
        {{!-- <ul class="navbar-nav ml-auto nav-flex-icons">
          {{#if loggedin}}
            <li class="nav-item hiname">
              <a href="#" class="nav-link" >Welcome {{name}}!</a>
            </li>
          {{/if}}
        </ul> --}}
      </div>
      
    </div>
    {{#if loggedin}}
      {{!-- <li class="nav-item hiname"> --}}
        <a href="#" class="nav-link welcomename">Welcome {{name}}!</a>
      {{!-- </li> --}}
    {{/if}}
  </nav>

  <div class="Mainpage">

    {{#if message }}
              <h4 class="alert alert-primary mt-4" id="indexMessage">{{message}}</h4>
    {{/if}}
    
    <div class="container">
      <!-- <div class="row">
        <div class="w-100 p-5">

        </div>
      </div> -->  
      

      

      <div class="row w-50 formPos">

        <div class="rgba-gradient col mainForm">
          <form>
                <div class="form-row">
                  <h2 style="font-weight: bold; margin:0 auto">Book Now!</h2>
                </div>
                <div class="form-row">
                  <div class="col">
                    <!-- <i class="far fa-flag"></i> -->
                    <i class="fas fa-map-marker-alt"></i>
                    <label for="PickUpLoc">Pick up location</label>
                    <select class="form-control text-center" id="PickUpLoc">
                        <option class="ddm2">Athens</option>
                        <option class="ddm2">Patra</option>
                        <option class="ddm2">Thessaloniki</option>
                    </select>
                  </div>
                  <div class="col">
                    <i class="fas fa-clock"></i>
                    <label for="PickUpDate">Pick up Date</label>
                    <input type="date" class="form-control datest" id="PickUpDate">
                  </div>

                </div>
    
    
                <div class="form-row ">
                  <div class="col">
                    <!-- <i class='fas fa-flag-checkered'></i> -->
                    <i class="fas fa-map-marker-alt"></i>
                    <label for="DropOffLoc ">Drop off location</label>
                    <select class="form-control text-center" id="DropOffLoc">
                        <option class="ddm2">Athens</option>
                        <option class="ddm2">Patra</option>
                        <option class="ddm2">Thessaloniki</option>
                    </select>
                  </div>
                  <div class="col">
                    <i class="fas fa-clock"></i>
                    <label for="DropOffDate">Drop off Date</label>
                    <input type="date" class="form-control datest" id="DropOffDate">
                  </div>
                
                    
                </div>
    
                <div class="form-row ">
                  <div class="col">
                    <i class="fas fa-car-alt"></i>
                    <label for="Category">Category</label>
                    <select class="form-control text-center" id="Category">
                        <option class="ddm2">Luxury</option>
                        <option class="ddm2">Economy</option>
                        <option class="ddm2">SUVs</option>
                        <option class="ddm2">Mini Buses</option>
                        <option class="ddm2">Convertibles</option>
                    </select>
                  </div>
                    
                </div>
                
                <div class="form-row m-2">

                </div>

                <div class="text-center">
                  <a class="btn btn-secondary btn.lg mb-2" onclick="bookSearch()" id="Search" href="#">Search</a>
                </div>
                
    
            </form>
        </div>

      

      </div> 
    </div>

    
    

  </div>

  <div class="footer">
    <div class="container">
      
      <div class="w-25 p-4"></div>
      
      <div class="abouttext" id="abouttext">
                    
        <h1>About us</h1>
        <p>A car rental, hire car, or car hire agency is a company that rents automobiles for short periods of time, generally ranging from a few hours to a few weeks. It is often organised with numerous local branches (which allow a user to return a vehicle to a different location), and primarily located near airports or busy city areas and often complemented by a website allowing online reservations.

            Car rental agencies primarily serve people who require a temporary vehicle, for example, those who do not own their own car, travelers who are out of town, or owners of damaged or destroyed vehicles who are awaiting repair or insurance compensation. Car rental agencies may also serve the self-moving industry needs, by renting vans or trucks, and in certain markets, other types of vehicles such as motorcycles or scooters may also be offered.
            
            Alongside the basic rental of a vehicle, car rental agencies typically also offer extra products such as insurance, global positioning system (GPS) navigation systems, entertainment systems, mobile phones, portable WiFi and child safety seats. </p>
      </div>
    </div>

    <section class="contact-section ">
      <div class="container">

        <div class='Contact' id="contactinfo">
  
          <div class="row">
  
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M20.5 3l-.16.03L15 5.1 9 3 3.36 4.9c-.21.07-.36.25-.36.48V20.5c0 .28.22.5.5.5l.16-.03L9 18.9l6 2.1 5.64-1.9c.21-.07.36-.25.36-.48V3.5c0-.28-.22-.5-.5-.5zM15 19l-6-2.11V5l6 2.11V19z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50">Athens: adress street 210 City <br/>Patras: other adress street 52 somewhere</div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"/></svg>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">carerentalproject@mail.com</a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/></svg>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50">+30 1234567890</div>
              </div>
            </div>
          </div>
        
  
          </div>
          
        </div>
      </div>
    </section>
    
    <div class="container">
      <div class="w-25 p-4">

      </div>
    </div>

  </div>

  <script src="/scripts/home.js"></script>

</body>
</html>



