<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Cars</title>
</head>
<body>
    <h1>Our vehicles</h1>
    <hr>
    <table>
        <tr>
            <th>
                <a href="/categories/luxury">
                    <button>Luxury Cars</button>
                </a>
            </th>
            <th>
                <a href="/categories/economy">
                    <button>Economy Cars</button>
                </a>
            </th>
        </tr>
        <tr>
            <th>
                <a href="/categories/suv">
                    <button>SUVs</button>
                </a>
                
            </th>  
            <th>
                <a href="/categories/minibus">
                    <button>Mini Buses</button>
                </a>
            </th>
        </tr>
        <tr>
            <th>
                <a href="/categories/cabriolets">
                    <button>Cabriolets</button>
                </a>
            </th>
        </tr>
    </table>
</body>
</html>